* {
    box-sizing: border-box;
}

:root {
    --primary-color: #012525;
    --dark-color: #015958;
    --reg-color: #00bbb8;
    --light-color: #00708a;
    --accent-color: #ffc5c4;
}

html {
    font-family: poppins-light, sans-serif;
    background-color: var(--primary-color);
    line-height: 1.71428;
}

body {
    margin: 0;
    font-size: 0.875rem;
}

.about-content {
    padding: 5em;
    width: 45em;
    margin: auto;
    color: #ffffff;
    text-align: center;
}

h2,
h3 {
    color: var(--accent-color);
    padding: 1em;
    margin: auto;
    margin-top: 1.5em;
}

/* main-layout */
.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1 / -1;
}

/* flex helpers */
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 1em;
    margin: 1em 1em;

    border-radius: .5em;
    border: none;
    background-color: var(--light-color);
    color: #ffffff;
    box-shadow: 0 0 9px .5px #00000069;
    cursor: pointer;
}

button :hover {
    background-color: var(--dark-color);
    font-weight: bolder;

}