.gallery-container,
.saved-memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;

    padding: 60px;
    margin: 0 auto;
}

.gallery-item img {
    width: 100%;
}

.random-meme-btn {
    width: 180px;
}
