@font-face {
    font-family: nonito;
    src: url('../assets/fonts/Nunito-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: madimi;
    src: url('../assets/fonts/MadimiOne-Regular.ttf');
}

@font-face {
    font-family: encode-sans-reg;
    src: url('../assets/fonts/EncodeSansExpanded-Regular.ttf');
}

@font-face {
    font-family: encode-sans-light;
    src: url('../assets/fonts/EncodeSansExpanded-Light.ttf');
}

@font-face {
    font-family: encode-sans-thin;
    src: url('../assets/fonts/EncodeSansExpanded-Thin.ttf');
}

@font-face {
    font-family: encode-sans-bold;
    src: url('../assets/fonts/EncodeSansExpanded-Bold.ttf');
}

@font-face {
    font-family: poppins-light;
    src: url('../assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins-reg;
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
